# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.DesignPatterns.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\dotNetTuts\Rider\DesignPatterns\.idea\.idea.DesignPatterns\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
